*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  }

h1 {
	font-family: Times;
	font-size: 1.5em;
	margin: 0px;
	padding: 40px 50px;
	color: white;
	background-color: #333333;
}

p {
	opacity: .60;
	padding-bottom: 2.5em;
}

body>p {
	font-size: 1.2em;
	font-family: comic sans;
	padding-top: 1.5em;
	padding-bottom: 8em;
}

h1,
header h2,
p {
	text-align: center;
}

.intro {
	border-bottom: 5px solid black;
}

form {
	border-top: solid 3px;
}

form,
.intro {
	margin: 5px 10px 0px 10px;
}

fieldset {
	border-style: none;
	padding: 12px 0px;
	margin-top: 20px; 
}

fieldset p {
	text-align: left;
	padding: 10px 0px;
}

.first-field {
	border-bottom: solid 3px;
	margin-bottom: 1.5em;
	padding-bottom: 1.5em;
}

legend,
.intro h2 {
	font-family: Georgia;
	font-size: 1.2em;
	font-weight: bold;
}

legend {
	margin-bottom: 10px;
}

label {
	opacity: .50;
	margin: 15px 0px;
}

input[type="text"],
input[type="email"],
textarea,
select {
	width: 100%;
	padding: 15px 10px;
	margin: 10px auto;
	background-color: #e8eeef;
	color: #8a97a0;
	border-radius: 5px;
	border-style: none;
	}
	
	textarea {
		padding-bottom: 40px;
		outline: none;
	}
	
	#zip {
		width: 160px;
		display: block;
		margin-left: 0px; 
	}
	
	input:focus,
	select:focus {
		border: 2px solid darkblue;
		border-radius: 5px;
		outline: none;
	}
	
	input[type="checkbox"],
	input[type="radio"] {
		display: none;
	}
	
	input[type="checkbox"] + label:before {
		background-color: #e8eeef;
		border: 1px solid #ccc;
		content: "";
		display: inline-block;
		font-weight: bold;
		font-size: 10px;
		height: 16px;
		width: 16px;
		margin: -3px 6px 0px 0px;
		text-align: center;
		vertical-align: middle;
		line-height: 13px;
	}
	
	input[type="checkbox"]:checked + label:before {
		content: "\2713";
		color: darkblue;
		border: 2px solid darkblue;
		border-radius: 2px;
	}
	
	input[type="radio"] + label:before {
		background-color: #e8eeef;
		border: 1px solid #ccc;
		border-radius: 6px;
		content: "";
		display: inline-block;
		font-size: 26px;
		height: 12px;
		width: 12px;
		margin: -2px 6px 0px 3px;
		vertical-align: middle;
		text-align: center;
		line-height: 10px;
	}
	
	input[type="radio"]:checked + label:before {
		content: "\2022";
		border: 1px solid darkblue;
		color: darkblue;
	}
	
	button {
		text-align: center;
		width: 100%;
		padding: 15px 5px;
		background-color: teal;
		font-size: 1.4em;
		color: white;
		font-family: normal;
		border: none;
		border-radius: 10px;
		outline: none;
	}
	
::-webkit-input-placeholder {
	text-indent: 70%;
	font-family: Comic Sans;
}

/******** media query ************/

@media (min-width: 760px) {
	.intro,
	form {
		width: 700px;
		margin: auto;
	}
	
	.intro {
		margin-bottom: 5px;
	}
	
	fieldset p,
	label {
		opacity: 100;
	}
	
	input[type="text"],
	input[type="email"],
	select {
	 width: 501px
	}
	
	input {
    margin-top: 5px;
    margin-bottom: 5px;
    display:inline-block;
    vertical-align:middle;
    margin-left: 20px; 
	}

    .first-field label {
    display:inline-block;
    padding-top: 5px;
    width: 190px;
	}

	#zip {
		display: inline-block;
	}
	
}
